.items-container {
    text-align: center;
    padding: 20px;

    .all-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        padding: 2rem;

        .item-card {
            background: rgb(197, 196, 196);
            padding: 15px;
            margin: 15px auto;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            .price {
                font-weight: bold;
                color: #27ae60;
            }

            button {
                background: #3498db;
                color: white;
                padding: 10px;
                border: none;
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    background: #2980b9;
                }
            }
        }
    }
}